<footer class=" d-flex flex-wrap justify-content-between align-items-center py-3 my-4 border-top">
    <div class="col-md-4 d-flex align-items-center">
      <a href="/" class="mb-3 me-2 mb-md-0 text-muted text-decoration-none lh-1">
        <img class=" navbar-brand" src="img\40062606.jpg" alt="" width="70" height="70">
      </a>
      <span class="text-muted fs-4 font-size-xl">House&Cars</span>
    </div>

    <ul>
      <li class="ms-1" style="list-style: none; float: left;"><a href=""><img src="https://img.icons8.com/color/48/000000/twitter--v2.png"/></a></li>
      <li class="ms-1" style="list-style: none; float: left;"><a href=""><img src="https://img.icons8.com/color/48/000000/instagram-new--v1.png"/></a></li>
      <li class="ms-1" style="list-style: none; float: left;"><a href=""><img src="https://img.icons8.com/color/48/000000/facebook-new.png"/></a></li>
    </ul>
    
  </footer>