<div class="d-flex flex-column flex-md-row align-items-center pb-3 mb-4 border-bottom mt-3 ">
 
    <a href="/" class="d-flex align-items-center text-dark text-decoration-none ms-2 me-2">
      <span class="fs-4">
       <a style="text-decoration: none; color: black; font-size:x-large;" href="/">House & Cars</a>
      </span>
    </a>
  
    <nav class="d-inline-flex mt-2 mt-md-0 ms-md-auto">
      <% if(userIN) { %> 
      <a class="me-3 py-2 text-dark text-decoration-none" href="/addadvert"> + İlanını Paylaş</a>
      <% } %>
      <a class="me-3 py-2 text-dark text-decoration-none ms-2" href="/">Ana Sayfa</a>
     
      <a class="me-3 py-2 text-dark text-decoration-none" href="/support">Destek</a>
      <% if(!userIN) { %> 

        <a class="py-2 text-dark text-decoration-none me-2" href="/sign-in">Giriş Yap</a>
        
        <% } %>
        <% if(userIN) { %> 
          <a class="me-3 py-2 text-dark text-decoration-none" href="/profile">Profil</a>
          <a class="py-2 text-dark text-decoration-none me-2" href="users/sign-out">Çıkış Yap</a>
          
          <% } %>
      

    </nav>
  </div>